<!DOCTYPE html>
<html lang="en">
<head>
  <%- title %>
  <%- meta %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <%- style %>
  <link href="https://cdn.bootcss.com/element-ui/2.5.4/theme-chalk/index.css" rel="stylesheet">
</head>
<body>
  <div id="root"><%- appString %></div>


  <%- scripts %>

  <%- initalState %>

  <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js" rel="nofollow"></script>
  <script src="https://cdn.bootcss.com/vue-router/3.0.1/vue-router.min.js" rel="nofollow"></script>
  <script src="https://cdn.bootcss.com/element-ui/2.5.4/index.js" rel="nofollow"></script>
  <script src="https://cdn.bootcss.com/axios/0.17.1/axios.min.js" rel="nofollow"></script>
  <script src="https://cdn.bootcss.com/vuex/3.0.1/vuex.min.js" rel="nofollow"></script>
  <script src="https://cdn.bootcss.com/vue-lazyload/1.2.6/vue-lazyload.js" rel="nofollow"></script>
  <script>
    (function(){
      var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?42b1271edebc0ca8cb2b8a61ac0642a0":"https://jspassport.ssl.qhimg.com/11.0.1.js?42b1271edebc0ca8cb2b8a61ac0642a0";
      document.write('<script src="' + src + '" id="sozz"><\/script>');
    })();
  </script>
  <script>
    (function(){
      var bp = document.createElement('script');
      var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
      }
      else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
      }
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(bp, s);
    })();
  </script>
</body>
</html>
